<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href={% static "login_page/images/icons/favicon.ico" %}/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/vendor/bootstrap/css/bootstrap.min.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href={% static "login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href={% static "login_page/fonts/iconic/css/material-design-iconic-font.min.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/vendor/animate/animate.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/vendor/css-hamburgers/hamburgers.min.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/vendor/animsition/css/animsition.min.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/vendor/select2/select2.min.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/vendor/daterangepicker/daterangepicker.css" %}>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href={% static "login_page/css/util.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "login_page/css/main.css" %}>
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url({% static  'login_page/images/bg-01.jpg' %});">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <span class="login100-form-title p-b-49">
						Login
					</span>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% elif message.tags == 'success' %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% elif message.tags == 'warning' %}
                            <div class="alert alert-warning">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="Type your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    {#						<a href="#">#}
                    {#							Forgot password?#}
                    {#						</a>#}
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src={% static "login_page/vendor/jquery/jquery-3.2.1.min.js" %}></script>
<!--===============================================================================================-->
<script src={% static "login_page/vendor/animsition/js/animsition.min.js" %}></script>
<!--===============================================================================================-->
<script src={% static "login_page/vendor/bootstrap/js/popper.js" %}></script>
<script src={% static "login_page/vendor/bootstrap/js/bootstrap.min.js" %}></script>
<!--===============================================================================================-->
<script src={% static "login_page/vendor/select2/select2.min.js" %}></script>
<!--===============================================================================================-->
<script src={% static "login_page/vendor/daterangepicker/moment.min.js" %}></script>
<script src={% static "login_page/vendor/daterangepicker/daterangepicker.js" %}></script>
<!--===============================================================================================-->
<script src={% static "login_page/vendor/countdowntime/countdowntime.js" %}></script>
<!--===============================================================================================-->
<script src={% static "login_page/js/main.js" %}></script>

</body>
</html>