<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Govindh Rajkumar Weds Abinithi Sammbavi</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="
    {% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
{#        <h1>Govindh Rajkumar</h1>#}
        <p class="subheading">on Thursday, 29th of October 2020 between 9.00 am and 10.30 am <br>at <b>Gnana Vinayagar
            Thirukovil, Kumaraguru Institutions Campus,</b> Saravanampatti, Coimbatore.</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Leave a Message
        </button>


    </div>
</section><!-- End Hero -->

<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
<div id="preloader"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'create-rsvp' %}" method="post" class="rsvp-form ftco-animate">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="">
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" required placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" required placeholder="Your email">
                        </div>
                    </div>
                    <div class="">
{#                        <div class="form-group">#}
{#                            <div class="form-field">#}
{#                                <div class="select-wrap">#}
{#                                    <div class="icon d-flex align-items-center justify-content-center"><span#}
{#                                            class="ion-ios-arrow-down"></span></div>#}
{#                                    <select name="number_of_guests" id="number_of_guests" required class="form-control">#}
{#                                        <option value="">Guest</option>#}
{#                                        <option value="1">1</option>#}
{#                                        <option value="2">2</option>#}
{#                                        <option value="3">3</option>#}
{#                                        <option value="4">4</option>#}
{#                                        <option value="5">5</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="">
                        <div class="form-group">
                            <textarea name="msg" id="msg" cols="30" rows="2" class="form-control"
                                      placeholder="Your wishes"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>

        </div>
    </div>

</div>
{% if messages %}
    <script>
        {% for message in messages %}
            {% if message.tags == "success" %}
                swal("Thank You", '{{ message }}', "success")
            {% else %}
                swal("Oops", '{{ message }}', "error")
            {% endif %}
        {% endfor %}
    </script>
{% endif %}

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>