<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View RSVPs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>
<body>
<div class="container">
    <h2>RSVP List</h2>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr class="rsvp_row">
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>No. of Guests</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for rsvp_obj in rsvp_objs %}
            <tr class="rsvp_row">
                <td>{{ forloop.counter }}</td>
                <td>{{ rsvp_obj.name }}</td>
                <td>{{ rsvp_obj.email }}</td>
                <td>{{ rsvp_obj.number_of_guests }}</td>
                {% if rsvp_obj.msg %}
                    <td>{{ rsvp_obj.msg }}</td>
                {% else %}
                    <td>Nil</td>
                {% endif %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <button onclick="exportTableToCSV('rsvp_row','rsvp.csv')">Export To CSV</button>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<script>
    function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Hide download link
        downloadLink.style.display = "none";

        // Add the link to DOM
        document.body.appendChild(downloadLink);

        // Click download link
        downloadLink.click();
    }


    function exportTableToCSV(classname, filename) {
        var csv = [];
        var rows = document.getElementsByClassName(classname);

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);

            csv.push(row.join(","));
        }

        downloadCSV(csv.join("\n"), filename);
    }
</script>


</div>
</body>
</html>